<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>objects/ships/spaceShips_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{53,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,40}</string>
			</dict>
			<key>objects/ships/spaceShips_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,40},{51,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,37}</string>
			</dict>
			<key>objects/ships/spaceShips_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,0},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>objects/ships/spaceShips_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{63,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,54}</string>
			</dict>
			<key>objects/ships/spaceShips_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,47},{68,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,42}</string>
			</dict>
			<key>objects/ships/spaceShips_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{47,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,74}</string>
			</dict>
			<key>objects/ships/spaceShips_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,76}</string>
			</dict>
			<key>objects/ships/spaceShips_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,0},{50,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,41}</string>
			</dict>
			<key>objects/ships/spaceShips_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{57,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,41}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,56},{10,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,18}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,56},{10,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,18}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,47},{9,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,26}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,47},{9,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,26}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,47},{9,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,26}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,62},{10,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,20}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,82},{10,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,20}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,81},{10,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,20}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,93},{6,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,24}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,109},{6,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,24}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,109},{6,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,24}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,87},{8,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,11}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,87},{8,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,11}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,87},{8,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,11}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,99},{6,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,13}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,103},{6,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,13}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,95},{6,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,13}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,66},{10,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,18}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,73},{10,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,18}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,74},{10,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,18}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,41},{11,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,23}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,41},{11,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,23}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,41},{11,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,23}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,93},{6,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,24}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,93},{6,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,24}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,105},{6,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,24}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,87},{5,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,17}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,76},{9,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,17}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,91},{8,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,25}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,76},{9,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,19}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,76},{5,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,23}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,95},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,95},{5,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,12}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,92},{9,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,17}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,52},{10,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,22}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,80},{5,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,23}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,81},{6,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,18}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,99},{6,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,18}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,95},{6,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,18}</string>
			</dict>
			<key>objects/missiles/spaceMissiles_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,83},{10,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,18}</string>
			</dict>
			<key>objects/lasers/laserBlue_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,117},{5,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,27}</string>
			</dict>
			<key>objects/lasers/laserBlue_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,61},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserBlue_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,81},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserBlue_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,61},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserBlue_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,100},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserBlue_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,61},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserBlue_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,113},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserBlue_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,52},{7,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,29}</string>
			</dict>
			<key>objects/lasers/laserBlue_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,47},{5,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,29}</string>
			</dict>
			<key>objects/lasers/laserBlue_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,52},{7,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,29}</string>
			</dict>
			<key>objects/lasers/laserBlue_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,47},{5,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,29}</string>
			</dict>
			<key>objects/lasers/laserBlue_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,54},{7,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,27}</string>
			</dict>
			<key>objects/lasers/laserGreen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,117},{5,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,27}</string>
			</dict>
			<key>objects/lasers/laserGreen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,61},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserGreen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,122},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserGreen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,68},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserGreen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,133},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserGreen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,68},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserGreen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,133},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserGreen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,52},{7,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,29}</string>
			</dict>
			<key>objects/lasers/laserGreen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,62},{5,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,29}</string>
			</dict>
			<key>objects/lasers/laserGreen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,64},{7,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,29}</string>
			</dict>
			<key>objects/lasers/laserGreen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,76},{5,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,29}</string>
			</dict>
			<key>objects/lasers/laserGreen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,54},{7,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,27}</string>
			</dict>
			<key>objects/lasers/laserRed_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,117},{5,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,27}</string>
			</dict>
			<key>objects/lasers/laserRed_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,75},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserRed_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,133},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserRed_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,75},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserRed_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,82},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserRed_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,80},{7,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,19}</string>
			</dict>
			<key>objects/lasers/laserRed_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,82},{5,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{5,19}</string>
			</dict>
			<key>objects/lasers/laserRed_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,64},{7,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,29}</string>
			</dict>
			<key>objects/lasers/laserRed_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,91},{5,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,29}</string>
			</dict>
			<key>objects/lasers/laserRed_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,62},{7,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,29}</string>
			</dict>
			<key>objects/lasers/laserRed_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,93},{5,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,29}</string>
			</dict>
			<key>objects/lasers/laserRed_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,54},{7,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,27}</string>
			</dict>
			<key>objects/manGuns/spaceBuilding_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,76},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>objects.png</string>
			<key>realTextureFileName</key>
			<string>objects.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>